body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
title{
    flex-direction: column;
    line-height: 10px;
}
li {
    display: inline-block;
    margin: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
a:hover{
    color: rgb(132,14,201);
    transition: 0.4s all;
}
 .inscreva {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}
.inscreva:hover{
    background-color:rgb(132, 14, 201) ;
    color: white;
}
h1{
    font-weight: 200;
    font-family: poppinssemibold;
    
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}
span{
    color: rgb(132,14,201);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family:poppinslight ;
}
img{
    width: 580px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
}
form [type="submit"]:hover{
   cursor: pointer; 
   background-color: rgb(187, 36, 247);
   transition: 0.4s all;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    
}
.botton{
    font-weight: bold;
    
}
@media(max-width: 1140px){
    body{
      display: flex;
      flex-direction: column;
    }
    header{
      flex-direction: column;
      
    }
    main{
      flex-direction: column;
      
    }
    img{
        align-self: center;
        margin-top: 15px;
        width: 600px;
    }
  }
  @media(max-width: 700px){
  header{
      flex-direction: column;
  }
  main{
      flex-direction: column;
  }
  h2{
      font-size: 38px;
  }
  form{
      margin: 0 auto;
  }
  input{
      align-self: center;
  }
  img{
      display: none;
  }
  ul{
      text-align: center;
  }
  }
  @media(max-width: 385px){
      body{
      
          display: flex;
          flex-wrap: wrap;
          
        }
        header{
          display: fl;
          flex-direction: column;
          align-items: center;
        }
        main{
          flex-direction: column;
          align-items: center;
        }
        h2{
        font-size: x-large;
          
        }
      }
  